{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if latest_question_list %}
<div class="col-md-6">
    <table style="display: inline-block;">
        {% for question in latest_question_list %}
            <tr>
                <td><a href="{% url 'mcq:detail' question.id %}">{{ question.question_text }}</a></td>
            </tr>
        {% endfor %}
    </table>          
    <table style="float: left;">
    {% for ans in answered %}
        <tr>
        {% if ans %}
            <td>answered</td>    
        {% else %}
            <td>not answered</td>    
        {% endif %}
        </tr>
    {% endfor %}
    </table>           
</div>  
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}